.container {
	background-image: url('/background.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: darkslategrey; */
}

.main {
	@apply
	min-h-screen max-w-xl
	flex flex-col justify-center items-center
	mx-auto;
}

.card {
	@apply
	w-full
	p-3 px-5 my-3
	rounded-lg
	shadow-sm hover:shadow-lg
	bg-white bg-opacity-10 hover:bg-opacity-80
	transition ease-in-out duration-200;
}

.card:hover * {
	@apply
	text-black
}